body {
  padding: 10px;
  font-family: sans-serif;
}

.thumbnail {
 max-width: 300px;
 min-width: 300px;

 max-height: 500px;
 min-height: 500px;

 margin-right: 20px;
}
.pad{
   margin-top: 10px;
   margin-bottom: 5px;
}
#pad2{
	position: absolute;
	bottom: 0;
}
